<h1>Editing departement</h1>

<%= render "form", departement: @departement %>

<br>

<div>
  <%= link_to "Show this departement", @departement %> |
  <%= link_to "Back to departements", departements_path %>
</div>
